<!-- Validation failure messages -->
<% if @color.errors.any? %>
  <% @color.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Color</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_color" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for color_name -->
      <div class="form-group">
        <label for="color_name" class="control-label">
          Color name
        </label>

        <input type="text" id="color_name" name="color_name" placeholder="Color name" class="form-control" value="<%= @color.color_name %>">
      </div>

      <button class="btn btn-success">
        Create Color
      </button>
      or
      <a href="/colors">Cancel</a>
    </form>
  </div>
</div>
