<div class="page-header">
  <h3>Color #<%= @color.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Color name</dt>
      <dd><%= @color.color_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/colors" class="btn btn-primary">
        Back
      </a>
      <a href="/colors/<%= @color.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_color/<%= @color.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
